In [4]:
import pandas as pd

# import the data
data = pd.read_excel('./data/Case_Studies/CaseStudy11_TBI.xlsx');
data.head()

,id,age,sex,mechanism,field.gcs,er.gcs,icu.gcs,worst.gcs,6m.gose,2013.gose,skull.fx,temp.injury,surgery,spikes.hr,min.hr,max.hr,acute.sz,late.sz,ever.sz
0,1,19,Male,Fall,10,10,10,10,5,5,0,1,1,.,.,.,1,1,1
1,2,55,Male,Blunt,.,3,3,3,5,7,1,1,1,168.74,14,757,0,1,1
2,3,24,Male,Fall,12,12,8,8,7,7,1,0,0,37.37,0,351,0,0,0
3,4,57,Female,Fall,4,4,6,4,3,3,1,1,1,4.35,0,59,0,0,0
4,5,54,Female,Peds_vs_Auto,14,11,8,8,5,7,0,1,1,54.59,0,284,0,0,0